html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
/*  font-family: cursive;*/
}
main a:hover h5 {
    text-decoration: underline !important;
}

/* Artilce content */
.article-content {
    font-size: 1.2rem;
    line-height: 1.7;
}

    .article-content img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .article-content :is(h1, h2, h3, h4, h5, h6) {
        /*font-weight: 600;*/
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }