 @model ArticlesList

@if( Model != null  && Model.Articles.Count() > 0)
{
	@foreach (var article in Model.Articles)
	{
		<a class="list-group-item list-group-item-action"
		   asp-action="Details"
		   asp-route-id="@article.Id"
		   asp-route-slug="@article.Slug">
			<span class="d-flex w-100 justify-content-lg-between flex-column flex-lg-row gap-2">
				<h5 class="mb-1 fw-bold">
					@article.Title
				</h5>
				<small class="text-body-secondary">
					<span class="bi bi-calendar"></span>
					<span>@article.PublishedDate.ToString("MMMM dd yyyy, hh:mm tt")</span>
				</small>
			</span>
		</a>
	}

	<!-- next page -->
	<div class="d-flex justify-content-center py-3 load-more-article">
		<button type="button" accesskey="" class="btn btn-secondary" data-url="">
			Load More Articles
		</button>
	</div>
}