

<!-- article not found page-->
 
@{
	ViewData["Title"] = "Article Not Found";
}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Article Not Found</h1>
			<p class="text-center">The article you are looking for does not exist or has been removed.</p>
			<p class="text-center"><a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home</a></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h2>Suggested Articles</h2>
			<ul class="list-group">
				@foreach (var article in Model.SuggestedArticles)
				{
					<li class="list-group-item">
						<a href="@Url.Action("Details", "Article", new { id = article.Id })">@article.Title</a>
					</li>
				}
			</ul>
		</div>
	</div>

</div>