@model ArticlesList
@{
	ViewData["Title"] = "Personal Blogs";
 
}

<h1>Personal Blog</h1>
<hr/>
@if (Model != null && Model.Articles.Count() > 0)
{
	<ul class="list-group list-group-flush">
		@* <cache:partial name="_ArticleList" model="Model" /> *@
		<partial name="_ArticleList" model="Model" />
	</ul>
}
else
{
	<div class="text-center my-3">
		<span>
			No Article Found
		</span>
	</div>
}
 