@using Json_Article_Website.Models

@model ArticleDetailsModel
@{
    ViewData["Title"] = Model.Title;
}

<article class="article-details">
	<h1 class="article-title">@Model.Title</h1>
	<p class="article-date">
		<span class="bi bi-calendar"></span>
		<span>@Model.CreatedDate.ToString("MMMM dd, yyyy")</span>
	</p>
	<div class="article-content">
		@Html.Raw(Model.Content)
	</div>
</article>

