@model ArticlesList
@{
	ViewData["Title"] = "Personal Blogs";

}

<div class="d-flex justify-content-between flex-wrap gap-3">
	<h1>Personal Blog</h1>
	<span>
		<a class="btn btn-primary rounded-pill "
		   asp-action="New"
		   asp-controller="Admin">
			<span class="bi bi-plus-lg"></span>
			<span>Create New Article</span>
		</a>
	</span>
</div>
<hr />
@if (Model != null && Model.Articles.Count() > 0)
{
	<ul class="list-group list-group-flush">
		<partial name="_ArticleList" model="Model" />
	</ul>
}
else
{
	<div class="text-center my-3">
		<span>
			No Article Found
		</span>
	</div>
}

